.btn{
    display: flex;
    width: 100%;
    margin-left: -2px;
    background-color:#202022;
    color:white;
    padding: 10px;
}
.waves-light{

    width: 50%;
    background-color: #202022;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin:25px 20%;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    

}

.videos{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.video_card{
    margin: 20px;
    height: 300px;
    width: 400px;
    background-color: #202022;
    padding: 5px;
    
    border-radius:10px ;

}
.video_card_name{
 
    color:white;
    font-size: 20px;
    float:left;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-family: cursive;
}

.video_card video{
    height: 80%!important;
    width: 100%!important;
}